nav{
    margin-top: 50px;
    height: auto;
    background-color: var(--navbor-footer-color);
    padding: 20px;
}
li{
    margin: auto;
}
.nav-link{
    text-transform: uppercase;
   
}
p {
  font-family: Lato;
}