    <nav class="navbar navbar-expand-sm navbar-dark bg-dark  mb-1 fixed-top">
          <a class="navbar-brand" href="/"></a>
            <div class="custom-control custom-switch  col-md-1">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" (click)="toggleDarkMode()">
              <label class="custom-control-label" for="customSwitch1">dark mode</label>
            </div>
          
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isCollapsed }">
            <ul class="navbar-nav mr-auto"  *ngFor='let cat of categoryArrays'>
             
              <h6><li class="nav-item ml-1"><a  class="nav-link" [routerLink]="['/category',cat.data.category,cat.id]"> {{cat.data.category}}
              </a>   </li>
              </h6>
              
            </ul>
          </div>
        </nav>
       
      