nav{
    margin-top: 50px;
    height: auto;
    background-color: var(--navbor-footer-color);
    padding: 20px;
}
li{
    margin: auto;
}
.nav-link{
    text-transform: uppercase;
   
}
p {
  font-family: Lato;
}

.custom-control-label::before {
    background-color: #ffffff;
  }
  
  .custom-control-label::after {
    background-color: #343a40;
  }
  
  .custom-control-input:checked~.custom-control-label::before {
    background-color: #343a40;
  }
  
  .custom-control-input:checked~.custom-control-label::after {
    background-color: #ffffff;
  }
  dark-mode {
    background-color: rgb(9, 17, 9);
    color:white;
  }
  