<header class="navbar navbar-expand-lg fixed-top bg-white">
    
    <div class="container justify-content-center">
        <a  class="site-logo" routerLink="/">My-Blog</a>
        <div class="row cursor-pointer  site-logo" >
      
            <h6><a href="{{ instagramLink }}" target="_blank">Instagram     .<i class="fa fa-instagram"></i>
                <span class="instagram-icon"></span>
            </a></h6>
    
    
       <h6><a href="{{ githubLink }}" target="_blank">GitHub      .<i class="fa fa-github" > </i>      </a></h6>
        
       <h6><a href="{{ linkedinLink }}" target="_blank">LinkedIn <i class="fa fa-linkedin"></i></a></h6>
      
       
        </div>
    
    
    </div>  
   
  

</header>