<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments(15,256)</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Kartik Patel</h6>
            <small class="text-danger">Last Updated -Sep 20,2021</small>
            <div class="mt-3 mb-3">
                Good Post Please Update post regular
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View-Reply</a>
            <hr>
            <h6 class="mb-0">Admin</h6>
            <small class="text-danger">Last Updated -Sep 20,2021</small>
            <div class="mt-3 mb-3">
             Please subscrib my blog page
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View-Reply</a>
            <hr> <h6 class="mb-0">Kartik Patel</h6>
            <small class="text-danger">Last Updated -Sep 20,2021</small>
            <div class="mt-3 mb-3">
                Follow my Instagram java page and gitHub .
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View-Reply</a>
            <hr> <h6 class="mb-0">Kartik Patel</h6>
            <small class="text-info">Last Updated -Sep 20,2021</small>
            <div class="mt-3 mb-3">
                Kartik is Full Stack Developer and this is comment section developing under process....
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-3">View-Reply</a>
            <hr>

        </div>
    </div>
</div>