<header>
    <div class="container">
      <h1>Contact Us</h1>
    </div>
  </header>
  
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Get in touch</h2>
          <p>If you have any questions or would like to get in touch, please use the contact form or the details below:</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope"></i> <a href="mailto:kartikpatel1950@gmail.com">kartikpatel1950@gmail.com</a></li>
            <li><i class="fa fa-phone"></i> +91 7999301948</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Contact Form</h2>
          <form #contactForm="ngForm" (ngSubmit)="onSubmit(name.value, email.value, message.value)">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" ngModel required #name>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" ngModel required #email>
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea class="form-control" id="message" name="message" ngModel required #message rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </div>
      </div>
    </div>
  </main>
  
  