header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
  }
  
  main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px;
  }
  