<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <h2>Kartik Patel</h2>
        <p>Hi, my name is Kartik Patel and I am a Student currently studying at SVVV University in Indore.
             I am passionate about technology and have experience working with a variety of programming languages such as Java, Python, C++, and HTML,Anguler.
              During my time at SVVV, I have had the opportunity to work on a number of exciting software development projects which have helped me to develop a 
              deep understanding of the software development process.</p>
              <p>This is blog Website Project That I Did For Post  Knowlegeble Information to You
                I also Running Java page on Instagram You can Follow that page to get more information about the project </p>
              <p>Thank you for taking the time to read about me and my background.
                 If you have any questions or would like to learn more about my work, please feel free to reach out to me.</p>
      </div>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back To Home
                    
                </button>
            </div>
        

    </div>
</section>